/**
 * ════════════════════════════════════════════════════════
 *   Ashton's Style.css 
 * ════════════════════════════════════════════════════════
 */


@import "../../.cache/wal/colors-waybar.css";

* {
 background-color: transparent;
  color: @foreground;
  border-bottom: 0;
  border-radius: 0;
  font-family: 'JetBrains Mono';
  font-size: 13px;
 }

 tooltip {
  background: @background;
  border: 1px;
  border-radius: 4px;
  padding: 6px 10px;
}

 menu {
  background: @background;
  border: 1px;
  border-radius: 0px;
  padding: 4px;
}

menu menuitem:hover {
  background: @color3;
}

window#waybar {
  background: @background;
}

.modules-center {
  border-radius: 0;
  padding: 0 80px;
}

#workspaces button {
  all: initial;
  padding: 0 8px;
  margin: 0px;
  min-width: 5px;
  background: @background;
}

#workspaces button.active {
  background: @color3;
  color: @background;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button:hover {
  background: @color3;
  border-radius: 0px;
}

#mpd {
  margin-right: 5px;
  font-weight: 600;
}

#cpu,
#clock,
#disk,
#memory,
#battery,
#network,
#bluetooth,
#window,
#pulseaudio,
#backlight,
#tray,
#custom-screenrecording-indicator,
#custom-idle-indicator {
    padding: 0 5px;
    font-weight: 600;
    margin: 4px 3px;
    padding: 2px 12px
}

#workspaces,
#mpris {
  background: @color3;
  color: @background
}

#clock {
  margin: 4px 3px;
  padding: 2px 12px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-top: 2px;
  margin-left: 8.75px;
  font-size: 13px;
}

#custom-logo {
  padding: 0 6px;
  font-size: 15px;
  background: @waybar_accent;
  color: @waybar_accent_fg;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
