/**
 * ════════════════════════════════════════════════════════
 *   Style.css
 * ════════════════════════════════════════════════════════
 */



* {
  background-color: transparent;
  color: #5E81AC;
  border-bottom: 0;
  border-radius: 0;
  font-family: 'JetBrains Mono';
  font-size: 13px;
 }

tooltip {
  background: #2e3440;
  border: 1px solid #5E81AC;
  border-radius: 4px;
  padding: 6px 10px;
}

menu {
  background: #2e3440;
  border: 1px solid #5E81AC;
  border-radius: 0px;
  padding: 4px;
}

menu menuitem:hover {
  background: #5E81AC;
}

window#waybar {
  background: #2e3440;
}

.modules-center {
  border-radius: 0;
  padding: 0 80px;
}

#workspaces button {
  all: initial;
  padding: 0 5px;
  margin: 0 0px;
  min-width: 5px;
}

#workspaces button.active {
  background: @waybar_accent;
  color: @waybar_accent_fg;
  font-weight: 700;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button:hover {
  background: #5E81AC;
  border-radius: 0px;
}

#mpd {
  margin-right: 5px;
  font-weight: 600;
}

#cpu,
#disk,
#memory,
#battery,
#network,
#clock,
#bluetooth,
#window,
#pulseaudio,
#backlight,
#tray,
#custom-screenrecording-indicator,
#custom-idle-indicator {
    padding: 0 5px;
    font-weight: 600;
    border-bottom: 2px solid #5E81AC;
    margin: 4px 3px;
    padding: 2px 12px
}

#workspaces,
#mpris,
#clock {
  margin: 4px 3px;
  padding: 2px 12px;
  border: 2px solid #5E81AC;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-top: 2px;
  margin-left: 8.75px;
  font-size: 13px;
}

#custom-logo {
  padding: 0 6px;
  font-size: 15px;
  background: @waybar_accent;
  color: @waybar_accent_fg;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
