/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #3a3a38;
    background-alt: #353535FF;
    foreground:     #67726e;
    selected:       #67726e;
    active:         #67726e;
    urgent:         #FB4934FF;
}
